<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @item.image_url %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>


<div class="card" >
  <img src="..." class="card-img-top" alt="...">            <img class="card-img-top" src=<%= item.image_url %> alt="Card image cap" style="max-width:50%">

  <div class="card-body">
    <h5 class="card-title">  <%= @item.title %>
    </h5>
    <p class="card-text">  <%= @item.description %>
    </p>
  </div>

  <ul class="list-group list-group-flush">

    <li class="list-group-item">  <%= @item.price %> $
    </li>
    <li class="list-group-item">    <a href="#" class="btn btn-primary">Go somewhere</a>
    </li>
    <li class="list-group-item"><%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', items_path %></li>
  </ul>
  
</div>

